<h1>Iniciar sesion</h1>

<div>
    <form action="https://proyectofinalcoderhouse-production-1caa.up.railway.app/api/users/login" method="post">
        <input type="email" name="email" placeholder="Email"/>
        <input type="password" name="password" placeholder="Password"/>
        <button type="submit">Iniciar sesion</button>
    </form>
</div>
<br/>
<div>
    <a href="https://proyectofinalcoderhouse-production-1caa.up.railway.app">
        Registrarse
    </a>
</div>
<br/>
<div>
    <a href="https://proyectofinalcoderhouse-production-1caa.up.railway.app/api/users/recovery">
        Restaurar contraseña
    </a>
</div>
