<h1>Iniciar sesion</h1>

<div>
    <form action="http://localhost:8080/api/users/login" method="post">
        <input type="email" name="email" placeholder="Email"/>
        <input type="password" name="password" placeholder="Password"/>
        <button type="submit">Iniciar sesion</button>
    </form>
</div>
<br/>
<div>
    <a href="http://localhost:8080/api/sessions/github">
        Iniciar sesión con Github
    </a>
</div>
<div>
    <a href="http://localhost:8080/">
        Registrarse
    </a>
</div>
<br/>
<div>
    <a href="http://localhost:8080/api/users/recovery">
        Restaurar contraseña
    </a>
</div>