<h1>Recuperar contraseña</h1>

<div>
    <form action="https://proyectofinalcoderhouse-production-1caa.up.railway.app/api/users/passwordRecover" method="post">
        <input type="email" name="email" placeholder="Email"/>
        <button type="submit">Recuperar contraseña</button>
    </form>
</div>
<br/>