<h1>Recuperar contraseña</h1>

<div>
    <form action="http://localhost:8080/api/users/passwordRecover" method="post">
        <input type="email" name="email" placeholder="Email"/>
        <button type="submit">Recuperar contraseña</button>
    </form>
</div>
<br/>